doctype html
html
    head    
        title="Home"
        include ./head.pug
    body
        div.jumbotron
          h4 Welcome

        nav(class="navbar navbar-expand-lg navbar-light bg-light")
          div(class="collapse navbar-collapse" id="navbarSupportedContent")
            ul(class="navbar-nav mr-auto")
                li(class="nav-item")
                    a(class="nav-link" href="login") Login
                li(class="nav-item")
                    a(class="nav-link" href="signup") Sign Up    

